<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        Latest Orders
			    </div>
			    <div class="panel-body">
			        <div class="row">
			            <div class="col-lg-12">
			            <% @orders.each do |order| %>
							<b>
							
							 <% if order.meal == 0%>
							    BreakFast at <%= order.created_at %></b><br>
							    <% else %>
							    lunch at <%= order.created_at %> </b><br>
							  <% end %>
						
						<% end %>  
			            </div>
			        </div>
			    </div>
			</div>
		</div>


		<div class="col-sm-6">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			        Friend's Activties
			    </div>
			    <div class="panel-body">
			        <div class="row">
					     <% @all.each do |gorder| %>
						   <% gorder.each do |order| %>
						     <b>
						      <% @allmyFriends.each do |user|%>
						         <%= user.name %>
						       <%end%>
						       has created an order for <% if order.meal == 0 %>BreakFast
						       <% else %>Lunch 
					           <% end %>from <%= order.restaurant %> <br> 
					    	<% end %> </b>
						     <br>
					      <% end %> 
			            </div>
			        </div>
			    </div>
			</div>
		</div>

	</div>
</div>










