/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background: #eeeeee;
}

.navbar-header.col {
  padding: 0 !important;
}
.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  padding-right: 50px;
  font-family: "Merienda One", sans-serif;
}
.navbar .navbar-brand i {
  font-size: 20px;
  margin-right: 5px;
}

.navbar .nav-item i {
  font-size: 18px;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .nav-item.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu li a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:active {
  color: #333;
}
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .badge {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}
.navbar ul.nav li a.notifications {
  position: relative;
  margin-right: 10px;
}

.navbar a.notifications .badge {
  margin-left: -8px;
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
  background: transparent !important;
}
.notification-menu {
  top: 60px;
  right: 0px;
  left: unset;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}

.notification-menu:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 12px;
  border: 10px solid #343a40;
  border-color: transparent transparent #343a40 transparent;
}
.notification-box {
  padding: 10px 0px;
}
.bg-gray {
  background-color: #eee;
}

// @media (min-width: 1200px) {
//   .form-inline .input-group {
//     width: 300px;
//     margin-left: 30px;
//   }
// }
// @media (max-width: 1199px) {
//   .form-inline {
//     display: block;
//     margin-bottom: 10px;
//   }
//   .input-group {
//     width: 100%;
//   }
// }
